<html>

<head>
    <title>Bianca Hale</title>
    <link rel="stylesheet" href="/styles/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="nav-bar">
        <a href="/index.html"><div class="bianca">Bianca Hale</div></a> 
        <div class="small-links">
            <a href="/templates/work.html"><div class="nav-item">Work</div></a>
            <a href="/templates/about.html"><div class="nav-item">About</div></a>
            <a href="/templates/other-works.html"><div class="nav-item">Other Works</div></a>
            <a href=""><div class="nav-item">Resume</div></a>
        </div>
    </div>
    <div class="greeting-container">
        <img src="/resources/headshot.jpg" class="greeting-img">
        <div class="greeting">
            <div class="greeting-title">Hi, I'm Bianca</div>
            <div class="greeting-text">
                I'm a UX/UI designer passionate about intuitive and empathetic design.
                <br><br>
                My background includes marketing and more recently, customer service at a financial institution. I was initially drawn to UX by the way it combines empathy and creativity. The idea of creating user-centric solutions that are easy to navigate for everyone excites me. 
                <br><br>
                I strive to solve the problems of the person I am designing for at their source, ultimately creating the best user experience.  
                <br><br>
                Ask me about my favorite TV shows, popcorn, and Charli XCX. 
            </div>
        </div>
    </div>
    <div class="marquee">
        <div class="marquee-content">
          Let's get in touch • Let's get in touch • Let's get in touch • Let's get in touch • Let's get in touch • Let's get in touch • Let's get in touch • 
        </div>
    </div>
</body>
</html>