<html>
<head>
    <title>Bianca Hale</title>
    <link rel="stylesheet" href="/styles/other-works.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
        rel="stylesheet">
</head>
<body>
    <div class="nav-bar">
        <a href="/"><div class="bianca">Bianca Hale</div></a> 
        <div class="small-links">
            <a href="/templates/work.html"><div class="nav-item">Work</div></a>
            <a href="/templates/about.html"><div class="nav-item">About</div></a>
            <a href="/templates/other-works.html"><div class="nav-item">Other Works</div></a>
            <a href=""><div class="nav-item">Resume</div></a>
        </div>
    </div>
    <div class="main-container">
        <div style="font-size: 3.5em; margin-top: 2em; margin-bottom: 2em;">Other Works</div>
        <div class="art-container">
            <div class="art-item">
                <img src="/resources/art/black_stuff.png">
                <label>Acrylic on paper</label>
            </div>
            <div class="art-item">
                <img src="/resources/art/connect_the_dots.png">
                <label>Acrylic on paper</label>
            </div>
            <div class="art-item">
                <img src="/resources/art/wachovia.png">
                <label>Acrylic on paper</label>
            </div>
            <div class="art-item">
                <img src="/resources/art/moon_cycles.png">
                <label>Acrylic on paper</label>
            </div>
            <div class="art-item">
                <img src="/resources/art/white.png">
                <label>Acrylic on paper</label>
            </div>
            <div class="art-item">
                <img src="/resources/art/black.png">
                <label>Acrylic on paper</label>
            </div>
            <div class="art-item">
                <img src="/resources/art/lollipop.png">
                <label>Acrylic on paper</label>
            </div>
            <div class="art-item">
                <img src="/resources/art/buttons.png">
                <label>Acrylic on paper</label>
            </div>
            <div class="art-item">
                <img src="/resources/art/sea.png">
                <label>Acrylic on paper</label>
            </div>
            <div class="art-item">
                <img src="/resources/art/retainer.png">
                <label>Acrylic on paper</label>
            </div>
            <div class="art-item">
                <img src="/resources/art/left_feet.png">
                <label>Acrylic on paper</label>
            </div>
            <div class="art-item">
                <img src="/resources/art/skeleton.png">
                <label>Acrylic on paper</label>
            </div>
            <div class="art-item">
                <img src="/resources/art/lines.png">
                <label>Acrylic on paper</label>
            </div>
            <div class="art-item">
                <img src="/resources/art/lines_close.png">
                <label>Acrylic on paper</label>
            </div>
            <div class="art-item">
                <img src="/resources/art/dots_and_boxes.png">
                <label>Acrylic on paper</label>
            </div>
            <div class="art-item">
                <img src="/resources/art/tally.png">
                <label>Acrylic on paper</label>
            </div>
            <div class="art-item">
                <img src="/resources/art/faces.png">
                <label>Acrylic on paper</label>
            </div>
            <div class="art-item">
                <img src="/resources/art/sad_girl.png">
                <label>Acrylic on paper</label>
            </div>
            <!-- End standard images sizing -->
        </div>
    </div>
</body>
</html>