<div class="landing-container">
    <div class="nav-bar">
        <div class="nav-name">BH</div>
        <div class="nav-links">
            <div>Work</div>
            <div>About Me</div>
            <div>Random Stuff</div>
            <div>Resume</div>
        </div>
    </div>

    <div class="greeting-container">
        <div class="greeting-small">Hi, I'm</div>
        <div class="greeting-large">BIANCA</div>
        <div class="greeting-small">I blend design, storytelling, and strategy to bring ideas to life</div>
    </div>

    <div class="bottom-bar">Welcome, make yourself comfortable</div>
</div>