body{
  background: white;
  font-family: "Roboto", sans-serif;
  color: black;
  font-weight: 400;
}
.nav-bar {
  display: flex;
  width: 92%;
  justify-content: space-between;
  align-items: center;
  padding: 3em;
}
.bianca {
  font-size: 2.5em;
  margin-left: 1em;
}

.small-links {
  display: flex;
  justify-content: right;
  gap: 2em;
}

.nav-item {
  font-size: 1.2em;
}
a {
  text-decoration: none;
  color: black;
}

.small-links > a:hover {
  text-decoration: underline;
}
.greeting-container{
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
  margin-bottom: 8em;
}
.greeting-img{
  width: 80%;
  border-radius: 50px;
}
.greeting-title{
  font-size: 4em; 
  margin-bottom: 1em;
}
.greeting-text{
  font-size: 1.5em;
  font-weight: 300;
}
.marquee {
  width: 100%;
  line-height: 50px;
  white-space: nowrap;
  overflow: hidden;
  margin: 2em 0;
}
.marquee-content {
  font-size: 3em;
  display: inline-block;
  padding-left: 100%;
  animation: marquee 15s linear infinite;
}
@keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}