body {
    font-family: "EB Garamond", serif;
    --maize: #ece336ff;
    --red-ncs: #b30039ff;
    --yinmn-blue: #3c599eff;
    --persian-indigo: #361f8eff;
    --baby-powder: #fafbf6ff;
}
  
.image-track{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15%;
}
.image-track > img{
    height: 400px;
}

