/* Nav bar for all files */
body{
    background: white;
    font-family: "Roboto", sans-serif;
    color: black;
    font-weight: 400;
}
.nav-bar {
    display: flex;
    width: 92%;
    justify-content: space-between;
    align-items: center;
    padding: 3em;
}
.bianca {
    font-size: 2.5em;
    margin-left: 1em;
}

.small-links {
    display: flex;
    justify-content: right;
    gap: 2em;
}

.nav-item {
    font-size: 1.2em;
}
a {
    text-decoration: none;
    color: black;
}

.small-links > a:hover {
    text-decoration: underline;
}
/* Nav bar for all files */

.main-container{
    width: 80%;
    margin: auto;
}

.art-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 60px;
}
.art-item{
    width: 25%;
    text-align: center;
}
.art-item > img{
    width: 100%;
    margin-bottom: 1em;
}

.art-item > img:hover{
    scale: 1.02;
    transition-duration: 0.6s;
}